body {
    font-family: Arial, sans-serif;
  }
  
  .tableau-periodique {
    display: grid;
    grid-template-columns: repeat(18, 50px); /* 18 colonnes pour les groupes */
    grid-template-rows: repeat(18, 50px);
    grid-auto-rows: 50px; /* Hauteur automatique des rangées */
    gap: 2px; /* Espacement entre les cellules */
  }
  
  .element {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  /* Exemple de classe pour un élément spécifique */
  /* Remplacer les valeurs par des informations réelles */
  .element.H {
    grid-column: 1 / span 1; /* Position horizontale */
    grid-row: 1 / span 1; /* Position verticale */
    justify-content: flex-end;
  }
h2{
    display: flex;
    justify-content: center;
    background-color: white;
    
}